name: Package & Test

on: [push, pull_request]

jobs:
  package_and_test:
    name: Package and Test
    # Use the "reusable workflow" from the hyperspy organisation
    uses: hyperspy/.github/.github/workflows/package_and_test.yml@main
    with:
      ORGANISATION: 'atomap-dev'
      PYTEST_ARGS: '-k "not test_gui_function_qt"'
