name: Tests

on: [push, pull_request]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    env:
      MPLBACKEND: agg
    steps:
      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.12
      - name: Install conda-forge dependencies
        run: conda install pip hyperspy exspy ase pytest -c conda-forge -y
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install
        run: pip install -e .
      - name: Run unit tests and docstring example
        run: pytest --doctest-modules atomap/
      - name: Run the user guide documentation examples as tests
        run: pytest --doctest-glob="*.rst" doc/
